@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}
nav{
  /* background: #0082e6; */
  height: 80px;
  width: 100%;
  z-index: 88888;
}
label.logo{
  line-height: 100px;
  padding: 0 101px;
}
nav ul{
  float: right;
  margin-right: 60px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}
nav ul li a{
  color: #f2f2f2;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  /* text-transform: uppercase; */
  font-family: 'Poppins', sans-serif;
}
a.active,a:hover{
    color: white;
  text-decoration: underline #edac10;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.background{
  background:  rgba(0, 0, 0, 0.5) url(top-slider.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  object-fit: cover;
}

.wrapper{
    position: absolute;
    top: 65%;
    left: 5%;
    transform: translate(0%,-50%);
    
}
.text-area{
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 7px;
}
.text-area span{
    opacity: 1;
    transform: translate(0px, -50px) scale(2);
    animation: animate 4s forwards;
    display: inline-block;
}
.text-area span:nth-of-type(2){
    animation-delay: .2s;
}
.text-area span:nth-of-type(3){
    animation-delay: .3s;
}
.text-area span:nth-of-type(4){
    animation-delay: .4s;
}
.text-area span:nth-of-type(5){
    animation-delay: .5s;
}
.text-area span:nth-of-type(6){
    animation-delay: .7s;
}
.text-area span:nth-of-type(7){
    animation-delay: .8s;
}
.text-area span:nth-of-type(8){
    animation-delay: .9s;
}
.text-area span:nth-of-type(9){
    animation-delay: 1s;
}
@keyframes animate{
    60%{
        transform: translate(0, 20px) rotate(60deg) scale(1)
    }
    100%{
        transform: translate(0) rotate(0deg) scale()
    }
}

.wrapper1{
    position: absolute;
    top: 65%;
    left: 5%;
    transform: translate(-2%,-400%);
    
}
.text-area1{
    font-size: 17px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 2.7px;
}
.text-area1 span{
    opacity: 1;
    transform: translate(0px, -50px) scale(2);
    animation: animate 4s forwards;
    display: inline-block;
}
.text-area1 span:nth-of-type(2){
    animation-delay: .1s;
}
.text-area1 span:nth-of-type(3){
    animation-delay: .2s;
}
.text-area1 span:nth-of-type(4){
    animation-delay: .3s;
}
.text-area1 span:nth-of-type(5){
    animation-delay: .4s;
}
.text-area1 span:nth-of-type(6){
    animation-delay: .5s;
}
.text-area1 span:nth-of-type(7){
    animation-delay: .6s;
}
.text-area1 span:nth-of-type(8){
    animation-delay: .7s;
}
.text-area1 span:nth-of-type(9){
    animation-delay: .8s;
}
.text-area1 span:nth-of-type(10){
    animation-delay: .9s;
}
.text-area1 span:nth-of-type(11){
    animation-delay: 1s;
}
.text-area1 span:nth-of-type(12){
    animation-delay: 1.001s;
}
.text-area1 span:nth-of-type(13){
    animation-delay: 1.002s;
}
.text-area1 span:nth-of-type(14){
    animation-delay: 1.003s;
}
.text-area1 span:nth-of-type(15){
    animation-delay: 1.004s;
}
@keyframes animate{
    60%{
        transform: translate(0, 20px) rotate(60deg) scale(1)
    }
    100%{
        transform: translate(0) rotate(0deg) scale()
    }
}
.btn-buy-now{
    padding: 12px 25px;
    font-size: 17px;
    background-color: #edac10;
    border: 0;
    position: absolute;
    top: 70%;
    left: 3%;
    cursor: pointer;
}



.box-sm{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin: 7px 11px;
    margin-top: 4%;
    padding: 25px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}
.box-sm-img{
    /* border: 2px solid red; */
    margin-top: 7px;
}
.box-sm-heading{
    margin-left: 25px;
}
.view-more{
    background: transparent;
    border: 0;
    color: #F4B80A;
    font-size: 1rem;
}
.view-more:hover{
    text-decoration: underline #F4B80A;
    cursor: pointer;
}
.box-sm:hover{
background: rgba(0, 0, 0, 1);
}
.box-sm:hover .box-sm-img{
    width: 70px;
}


.main-heading{
    /* border: 2px solid rebeccapurple; */
    margin: 0px 27px;
    margin-top: 10%;
}
.main-heading::after {

    content:'';
    width: 56px;
    color: black;
    position:absolute;
    height:3px;
    left: 27px;
    z-index: 10000;
    background: black;
    margin: 3% 0%;

}
.small-img img{
    border-radius: 50px;
    
}
.Read-More-Button{
    margin-left: 36%;
}
.contact{
margin: 5% 20%;
}
.background-2{
    background:  rgba(0, 0, 0, 0.5) url(background-2.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 80vh; */
    object-fit: cover;
    background-attachment: fixed;
  }

  .main-heading-2{
    /* border: 2px solid rebeccapurple; */
    margin: 0px 27px;
    margin-top: 10%;
}
  .main-heading-2::after {

    content:'';
    width: 56px;
    color: black;
    position:absolute;
    height:3px;
    left: 27px;
    z-index: 10000;
    background: black;
    margin: 3% 0%;

}

/* Footer section */

.phone-no{
    font-size: 20px;
}
.watermark{
    font-size: 25px;
    margin-bottom: 0px;
}



@media (max-width: 952px){
    label.logo{
      font-size: 27px;
      padding-left: 25px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 420px){
    .checkbtn{
      display: block;
      margin-right: 40px;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #331712;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 9999999;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover , a.active{
      background: none;
      color: white;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  @media (min-width:320px){
    label.logo{
        line-height: 100px;
        padding: 1px 26px;
      }
    .text-area1{
        font-size: 13px;
    }
    .text-area{
        font-size: 20px;
    }
}





/* CONTACT FORM CSS */
.background-contact-form{
    background:  rgba(0, 0, 0, 0.5) url(bg-contact-form.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    object-fit: cover;
}
.contact-heading{
    font-family: 'PT Serif', serif;
    margin-top: 30%;
}
.contact-form-heading{
    font-family: 'PT Serif', serif;
}
.contact-heading::after {

    content:'';
    width: 4px;
    color: #ffb606;
    position:absolute;
    height:47px;
    left: 27px;
    z-index: 10000;
    background: #ffb606;
    margin: 1% 0%;

}
.social-icon { 

    text-align: center; 
    font-size: 25px;
    margin-left: 8%;
   justify-content: space-evenly;
   height: 100%;
   /* border: 2px solid aqua; */
   align-items: center;
   
    
    }
.social-icon i{
        width:50px;
        height: 50px;
        border-radius: 50%;
        padding-top: 1.9%;
        background-color: #3D3C38;
        color: white;
        cursor: pointer;
        font-size: 131%;
} 
.message-heading{
    font-family: 'PT Serif', serif;
}




@media only screen and (min-width:420px) and (max-width:830px){
    nav ul{
        float: right;
        margin-right: 60px;
      }
      nav ul li{
        display: inline-block;
        line-height: 0px;
        margin: 0 2px;
      }
      nav ul li a{
        color: #f2f2f2;
        font-weight: 500;
        font-size: 20px;
        padding: 7px 10px;
        border-radius: 3px;
        /* text-transform: uppercase; */
        font-family: 'Poppins', sans-serif;
      }
      label.logo{
        line-height: 65px;
        padding: 1px 241px;
      }
    .text-area1{
        font-size: 15px;
    }
    .text-area{
        font-size: 25px;
    }
    .wrapper{
        top:110%;
    }
    .wrapper1{
        top: 116%;
        }
    .btn-buy-now{
        padding: 7px 25px;
        font-size: 17px;
        background-color: #edac10;
        border: 0;
        position: absolute;
        top: 110%;
        left: 3%;
        cursor: pointer;
    }

    .background{
        height: 125vh;
    }
    .background-contact-form{
        height: 60vh;
    }
    .contact-heading{
        font-family: 'PT Serif', serif;
        margin-top: 10%;
    }
}